PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=taller_motos
DB_PORT=3306

JWT_SECRET=cambia-esta-clave-por-una-segura
JWT_EXPIRES_IN=60m
